<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="text-center display-4">Food List</h1>

        <div class="d-flex align-items-center gap-3">
            <%= link_to "Add Food", new_food_path, class: "btn btn-primary", type: "button" %>
            <%= link_to "Back", :back, class: "btn btn-secondary", type: "button" %>
        </div>
    </div>

    <div class="food-list mt-4">
        <% if @foods.any? %>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Food</th>
                    <th scope="col">Measurement Unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @foods.each do |food|%>
                        <%= render 'shared/food_item', food: food%>
                    <% end %>
                </tbody>
                </table>

        <% else %>
            <div class="alert alert-info" role="alert">
                No Food Available!!!
            </div>

        <% end %>
        </div>
</div>
