<div class="container">
    <h1 class="text-center display-4">Recipe 2</h1>

    <div class="recipes-details w-75 mx-auto">
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <p>Preparation time: 1 hour</p>
                <p>Cooking time: 1.5 hour</p>
            </div>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4">
            <%= link_to "Generate shopping list", recipe_shopping_list_index_path(recipe_id: 1), class: "btn btn-secondary", type: "button"%>
            <button type="button" class="btn btn-primary">Add Ingredient</button>
        </div>

        <div class="ingredient-list mt-4">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Food</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Value</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                    </tr>
                </tbody>
                </table>
        </div>

    </div>
</div>